{% extends 'activity_tracker/base.html' %}
{% load static %}
{% block content %}
<header class="bg-primary bg-gradient text-white py-5">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to Activity Tracker</h1>
        <p class="lead">Site where you can track your daily activity</p>
        {% if user.is_authenticated %}
        <a class="btn btn-lg btn-light" href="{% url 'dashboard' %}">WELCOME!</a>
        {% else %}
        <a class="btn btn-lg btn-light" href="{% url 'register' %}">CREATE ACCOUNT NOW!</a>
        {% endif %}
    </div>
</header>
<!-- About section-->
<section id="about" class="py-5">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>About Activity Tracker</h2>
                <p class="lead">Activity Tracker is designed to help you monitor and improve your daily activities. Our platform offers:</p>
                <ul>
                    <li>Detailed tracking of your activities</li>
                    <li>Access to your daily, weekly and monthly activities history</li>
                    <li>Customizable activity types</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Features section-->
<section id="features" class="py-5 bg-light">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Features</h2>
                <p class="lead">Our Activity Tracker offers a variety of features to help you stay on top of your daily activities:</p>
                <ul>
                    <li>Track your daily routine</li>
                    <li>Monitor your sleep time</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Gallery section-->
<section id="gallery" class="py-5">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Gallery</h2>
                <p class="lead">Check out some screenshots of our app in action:</p>
                <div class="row">
                        {{ demo_chart_div|safe }}
                    <div class="col-md-12 mb-3 justify-content-center align-items-center">
                        <img src="{% static 'images/im1activity.png' %}" class="img-fluid rounded " alt="Screenshot 1">
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <img src="{% static 'images/im2activity.png' %}" class="img-fluid rounded" alt="Screenshot 4">
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}