.btn-success {
    /* background-color: #AAFFAA !important;
    border-color: #AAFFAA !important; */
    /* color: #000 !important; Optional: for better contrast */
}

.badge.bg-warning {
    background-color: #008080 !important;
    border-color: #008080 !important;
    /* color: #000 !important; Optional: for better contrast  #663399 #008080 #FFD700*/
}

.navbar {
    border-bottom: none !important;
    box-shadow: none !important;
}